      .Update{
        color: white;
      }
			body{
        background-color: black;
      }
      .unterdennews{
        height: 300px;
      }
			#News {
				left: 589px;
				top: 39px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Forum {
				left: 874px;
				top: 39px;
				position: absolute;
				overflow: visible;
				width: 49px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Sponsor {
				left: 980px;
				top: 39px;
				position: absolute;
				overflow: visible;
				width: 62px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}

			#Name {
				left: 344px;
				top: 525px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum {
				left: 390px;
				top: 525px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			
			#Name_bg {
				left: 344px;
				top: 932px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_bh {
				left: 390px;
				top: 932px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			
			#Name_bk {
				left: 785px;
				top: 932px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_bl {
				left: 831px;
				top: 932px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			
			#Name_bp {
				left: 1225px;
				top: 932px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_bq {
				left: 1271px;
				top: 932px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			
			#Name_bv {
				left: 344px;
				top: 1339px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_bw {
				left: 390px;
				top: 1339px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			
			#Name_b {
				left: 784px;
				top: 1338px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_b {
				left: 830px;
				top: 1338px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			
			#Letzte_Forumbeitrge_ {
				left: 1192px;
				top: 1042px;
				position: absolute;
				overflow: visible;
				width: 163px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Zum_Forum {
				left: 1535px;
				top: 1042px;
				position: absolute;
				overflow: visible;
				width: 86px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Rechteck_42 {
				fill: transparent;
			}
			.Rechteck_42 {
				position: absolute;
				overflow: visible;
				width: 418px;
				height: 98px;
				left: 1192px;
				top: 1475px;
			}
			#Rechteck_44 {
				fill: transparent;
			}
			.Rechteck_44 {
				position: absolute;
				overflow: visible;
				width: 418px;
				height: 98px;
				left: 1192px;
				top: 1377px;
			}
			#Rechteck_45 {
				fill: rgba(25,32,42,1);
				stroke: rgba(25,32,42,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Rechteck_45 {
				display: none;
				position: absolute;
				overflow: visible;
				width: 42px;
				height: 55px;
				left: 1565px;
				top: 1399px;
			}
			#Rechteck_46 {
				fill: transparent;
			}
			.Rechteck_46 {
				position: absolute;
				overflow: visible;
				width: 418px;
				height: 98px;
				left: 1192px;
				top: 1280px;
			}
			#Rechteck_48 {
				fill: transparent;
			}
			.Rechteck_48 {
				position: absolute;
				overflow: visible;
				width: 418px;
				height: 98px;
				left: 1192px;
				top: 1182px;
			}
			#Rechteck_50 {
				fill: transparent;
			}
			.Rechteck_50 {
				position: absolute;
				overflow: visible;
				width: 418px;
				height: 98px;
				left: 1192px;
				top: 1084px;
			}
			#Newsseitelinks {
				position: absolute;
				width: 415px;
				height: 451px;
				left: 1192px;
				top: 1101px;
				overflow: hidden;
			}
			#Newsseitelinks_cd {
				position: absolute;
				width: 415px;
				height: 60px;
				left: 0px;
				top: 0px;
				overflow: visible;
			}
			#News_ce {
				left: 17px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Name_cf {
				left: 33px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_cg {
				left: 79px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_21 {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_21 {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 66px;
				top: 40px;
			}
			#Ellipse_22 {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_22 {
				position: absolute;
				overflow: visible;
				width: 23px;
				height: 23px;
				left: 0px;
				top: 32px;
			}
			#Rechteck_51 {
				fill: rgba(25,32,42,1);
			}
			.Rechteck_51 {
				position: absolute;
				overflow: visible;
				width: 42px;
				height: 55px;
				left: 373px;
				top: 5px;
			}
			#ID0 {
				left: 388px;
				top: 17px;
				position: absolute;
				overflow: visible;
				width: 14px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Newsseitelinks_cl {
				position: absolute;
				width: 415px;
				height: 60px;
				left: 0px;
				top: 98px;
				overflow: visible;
			}
			#News_cm {
				left: 17px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Name_cn {
				left: 33px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_co {
				left: 79px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_21_cp {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_21_cp {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 66px;
				top: 40px;
			}
			#Ellipse_22_cq {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_22_cq {
				position: absolute;
				overflow: visible;
				width: 23px;
				height: 23px;
				left: 0px;
				top: 32px;
			}
			#Rechteck_51_cr {
				fill: rgba(25,32,42,1);
			}
			.Rechteck_51_cr {
				position: absolute;
				overflow: visible;
				width: 42px;
				height: 55px;
				left: 373px;
				top: 5px;
			}
			#ID0_cs {
				left: 388px;
				top: 17px;
				position: absolute;
				overflow: visible;
				width: 14px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Newsseitelinks_ct {
				position: absolute;
				width: 415px;
				height: 60px;
				left: 0px;
				top: 196px;
				overflow: visible;
			}
			#News_cu {
				left: 17px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Name_cv {
				left: 33px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_cw {
				left: 79px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_21_cx {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_21_cx {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 66px;
				top: 40px;
			}
			#Ellipse_22_cy {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_22_cy {
				position: absolute;
				overflow: visible;
				width: 23px;
				height: 23px;
				left: 0px;
				top: 32px;
			}
			#Rechteck_51_cz {
				fill: rgba(25,32,42,1);
			}
			.Rechteck_51_cz {
				position: absolute;
				overflow: visible;
				width: 42px;
				height: 55px;
				left: 373px;
				top: 5px;
			}
			#ID0_c {
				left: 388px;
				top: 17px;
				position: absolute;
				overflow: visible;
				width: 14px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Newsseitelinks_c {
				position: absolute;
				width: 415px;
				height: 60px;
				left: 0px;
				top: 294px;
				overflow: visible;
			}
			#News_c {
				left: 17px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Name_c {
				left: 33px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_c {
				left: 79px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_21_c {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_21_c {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 66px;
				top: 40px;
			}
			#Ellipse_22_c {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_22_c {
				position: absolute;
				overflow: visible;
				width: 23px;
				height: 23px;
				left: 0px;
				top: 32px;
			}
			#Rechteck_51_c {
				fill: rgba(25,32,42,1);
			}
			.Rechteck_51_c {
				position: absolute;
				overflow: visible;
				width: 42px;
				height: 55px;
				left: 373px;
				top: 5px;
			}
			#ID0_da {
				left: 388px;
				top: 17px;
				position: absolute;
				overflow: visible;
				width: 14px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Newsseitelinks_da {
				position: absolute;
				width: 415px;
				height: 60px;
				left: 0px;
				top: 392px;
				overflow: visible;
			}
			#News_da {
				left: 17px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Name_db {
				left: 33px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_dc {
				left: 79px;
				top: 35px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_21_dd {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_21_dd {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 66px;
				top: 40px;
			}
			#Ellipse_22_de {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_22_de {
				position: absolute;
				overflow: visible;
				width: 23px;
				height: 23px;
				left: 0px;
				top: 32px;
			}
			#Rechteck_51_df {
				fill: rgba(25,32,42,1);
			}
			.Rechteck_51_df {
				position: absolute;
				overflow: visible;
				width: 42px;
				height: 55px;
				left: 373px;
				top: 5px;
			}
			#ID0_dg {
				left: 388px;
				top: 17px;
				position: absolute;
				overflow: visible;
				width: 14px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Updates_dh {
				left: 311px;
				top: 893px;
				position: absolute;
				overflow: visible;
				width: 64px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Updates_di {
				left: 752px;
				top: 893px;
				position: absolute;
				overflow: visible;
				width: 64px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Updates_dj {
				left: 1192px;
				top: 893px;
				position: absolute;
				overflow: visible;
				width: 64px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Updates_dk {
				left: 312px;
				top: 1300px;
				position: absolute;
				overflow: visible;
				width: 64px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Updates_dl {
				left: 753px;
				top: 1299px;
				position: absolute;
				overflow: visible;
				width: 64px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Rechteck_52 {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_52 {
				position: absolute;
				overflow: visible;
				width: 856px;
				height: 300px;
				left: 312px;
				top: 1510px;
			}
			#Bild_4 {
				display: none;
				position: absolute;
				width: 1904px;
				height: 1054px;
				left: 8px;
				top: 1975px;
				overflow: visible;
			}
			#BlogItemletztenews {
				position: absolute;
				width: 186px;
				height: 556px;
				left: 1192px;
				top: 1663px;
				overflow: hidden;
			}
			#BlogItemletztenews_dp {
				position: absolute;
				width: 172px;
				height: 58px;
				left: 0px;
				top: 0px;
				overflow: visible;
			}
			#Rechteck_53 {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_53 {
				position: absolute;
				overflow: visible;
				width: 50px;
				height: 50px;
				left: 0px;
				top: 8px;
			}
			#Ellipse_23 {
				fill: rgba(112,112,112,1);
			}
			.Ellipse_23 {
				position: absolute;
				overflow: visible;
				width: 22px;
				height: 22px;
				left: 60px;
				top: 34px;
			}
			#Name_ds {
				left: 92px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_dt {
				left: 138px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_24 {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_24 {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 125px;
				top: 41px;
			}
			#News_dv {
				left: 60px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#BlogItemletztenews_dw {
				position: absolute;
				width: 172px;
				height: 58px;
				left: 0px;
				top: 98px;
				overflow: visible;
			}
			#Rechteck_53_dx {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_53_dx {
				position: absolute;
				overflow: visible;
				width: 50px;
				height: 50px;
				left: 0px;
				top: 8px;
			}
			#Ellipse_23_dy {
				fill: rgba(112,112,112,1);
			}
			.Ellipse_23_dy {
				position: absolute;
				overflow: visible;
				width: 22px;
				height: 22px;
				left: 60px;
				top: 34px;
			}
			#Name_dz {
				left: 92px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_d {
				left: 138px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_24_d {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_24_d {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 125px;
				top: 41px;
			}
			#News_d {
				left: 60px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#BlogItemletztenews_d {
				position: absolute;
				width: 172px;
				height: 58px;
				left: 0px;
				top: 196px;
				overflow: visible;
			}
			#Rechteck_53_d {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_53_d {
				position: absolute;
				overflow: visible;
				width: 50px;
				height: 50px;
				left: 0px;
				top: 8px;
			}
			#Ellipse_23_d {
				fill: rgba(112,112,112,1);
			}
			.Ellipse_23_d {
				position: absolute;
				overflow: visible;
				width: 22px;
				height: 22px;
				left: 60px;
				top: 34px;
			}
			#Name_d {
				left: 92px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_ea {
				left: 138px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_24_ea {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_24_ea {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 125px;
				top: 41px;
			}
			#News_ea {
				left: 60px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#BlogItemletztenews_ea {
				position: absolute;
				width: 172px;
				height: 58px;
				left: 0px;
				top: 294px;
				overflow: visible;
			}
			#Rechteck_53_eb {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_53_eb {
				position: absolute;
				overflow: visible;
				width: 50px;
				height: 50px;
				left: 0px;
				top: 8px;
			}
			#Ellipse_23_ec {
				fill: rgba(112,112,112,1);
			}
			.Ellipse_23_ec {
				position: absolute;
				overflow: visible;
				width: 22px;
				height: 22px;
				left: 60px;
				top: 34px;
			}
			#Name_ed {
				left: 92px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_ee {
				left: 138px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_24_ef {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_24_ef {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 125px;
				top: 41px;
			}
			#News_eg {
				left: 60px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#BlogItemletztenews_eh {
				position: absolute;
				width: 172px;
				height: 58px;
				left: 0px;
				top: 392px;
				overflow: visible;
			}
			#Rechteck_53_ei {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_53_ei {
				position: absolute;
				overflow: visible;
				width: 50px;
				height: 50px;
				left: 0px;
				top: 8px;
			}
			#Ellipse_23_ej {
				fill: rgba(112,112,112,1);
			}
			.Ellipse_23_ej {
				position: absolute;
				overflow: visible;
				width: 22px;
				height: 22px;
				left: 60px;
				top: 34px;
			}
			#Name_ek {
				left: 92px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_el {
				left: 138px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_24_em {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_24_em {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 125px;
				top: 41px;
			}
			#News_en {
				left: 60px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#BlogItemletztenews_eo {
				position: absolute;
				width: 172px;
				height: 58px;
				left: 0px;
				top: 490px;
				overflow: visible;
			}
			#Rechteck_53_ep {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_53_ep {
				position: absolute;
				overflow: visible;
				width: 50px;
				height: 50px;
				left: 0px;
				top: 8px;
			}
			#Ellipse_23_eq {
				fill: rgba(112,112,112,1);
			}
			.Ellipse_23_eq {
				position: absolute;
				overflow: visible;
				width: 22px;
				height: 22px;
				left: 60px;
				top: 34px;
			}
			#Name_er {
				left: 92px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 31px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Datum_es {
				left: 138px;
				top: 36px;
				position: absolute;
				overflow: visible;
				width: 35px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 10px;
				color: rgba(255,255,255,1);
			}
			#Ellipse_24_et {
				fill: rgba(112,112,112,1);
				stroke: rgba(112,112,112,1);
				stroke-width: 1px;
				stroke-linejoin: miter;
				stroke-linecap: butt;
				stroke-miterlimit: 4;
				shape-rendering: auto;
			}
			.Ellipse_24_et {
				position: absolute;
				overflow: visible;
				width: 7px;
				height: 7px;
				left: 125px;
				top: 41px;
			}
			#News_eu {
				left: 60px;
				top: 0px;
				position: absolute;
				overflow: visible;
				width: 41px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Letzte_News {
				left: 1199px;
				top: 1606px;
				position: absolute;
				overflow: visible;
				width: 88px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Unsere_Teams {
				left: 312px;
				top: 1841px;
				position: absolute;
				overflow: visible;
				width: 108px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				color: rgba(255,255,255,1);
			}
			#Alle_Teams {
				left: 1099px;
				top: 1842px;
				position: absolute;
				overflow: visible;
				width: 72px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				color: rgba(255,255,255,1);
			}
			#LOGO_ey {
				left: 558px;
				top: 2327px;
				position: absolute;
				overflow: visible;
				width: 57px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#NAME {
				left: 559px;
				top: 2379px;
				position: absolute;
				overflow: visible;
				width: 56px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#LOGO_e {
				left: 1211px;
				top: 2326px;
				position: absolute;
				overflow: visible;
				width: 57px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#NAME_e {
				left: 1212px;
				top: 2378px;
				position: absolute;
				overflow: visible;
				width: 56px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#LOGO_fa {
				left: 874px;
				top: 2330px;
				position: absolute;
				overflow: visible;
				width: 57px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#NAME_fa {
				left: 875px;
				top: 2382px;
				position: absolute;
				overflow: visible;
				width: 56px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#LOGO_fb {
				left: 1526px;
				top: 2328px;
				position: absolute;
				overflow: visible;
				width: 57px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#NAME_fb {
				left: 1527px;
				top: 2380px;
				position: absolute;
				overflow: visible;
				width: 56px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Rechteck_58 {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_58 {
				position: absolute;
				overflow: visible;
				width: 416px;
				height: 150px;
				left: 312px;
				top: 1969px;
			}
			#Foto {
				left: 499px;
				top: 2030px;
				position: absolute;
				overflow: visible;
				width: 44px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(0,0,0,1);
			}
			#Rechteck_59 {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_59 {
				position: absolute;
				overflow: visible;
				width: 416px;
				height: 150px;
				left: 752px;
				top: 1969px;
			}
			#Foto_e {
				left: 939px;
				top: 2030px;
				position: absolute;
				overflow: visible;
				width: 44px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(0,0,0,1);
			}
			#Team {
				left: 309px;
				top: 2131px;
				position: absolute;
				overflow: visible;
				width: 58px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Team_fb {
				left: 752px;
				top: 2131px;
				position: absolute;
				overflow: visible;
				width: 58px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 20px;
				color: rgba(255,255,255,1);
			}
			#Rechteck_60 {
				fill: rgba(255,255,255,1);
			}
			.Rechteck_60 {
				position: absolute;
				overflow: visible;
				width: 149px;
				height: 36px;
				left: 360px;
				top: 1642px;
			}
			#Trete_uns_bei {
				left: 361px;
				top: 1579px;
				position: absolute;
				overflow: visible;
				width: 193px;
				white-space: nowrap;
				text-align: left;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 30px;
				color: rgba(255,255,255,1);
			}
      .picture1{
        width: 858px;
        height: 301px;
      }
      .picture1 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

	  .picture2{
        width: 416px;
        height: 150px;
      }
      .picture2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

	  .picture3{
        width: 416px;
        height: 150px;
      }
      .picture3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }